body {
  height: 100%;
  margin: 0% auto;
  font-family: Edita, Utopia Std, sans-serif;
  font-size: 18px;
}

/* Navigation CSS */
.inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 3px 10px 0px 10px;
}
.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}
nav {
  width: 73%;
  padding: 1%;
  text-align: center;
  background-color: #1c1c1c;
}
ul {
  width: 50%;
  margin-left: auto;
  display: inline-block;
 /* vertical-align: top; */
  margin-left: auto;
  color: #fafaff;
  font-family: edita, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.navigation {
  background-color: #1c1c1c;
  width: auto;
  /* position: sticky; */
  top: 0px;
}
a:link {
  color: #FAFAFF;
  font-size: 28px;
}
a:visited {
  color: #FAFAFF;
  text-decoration: none;
}
a:hover {
  color: #990349;
  text-decoration: none;
}
a:active {
  color: #FAFAFF;
  text-decoration: none;
}

/* Hero CSS */
.hero {
  height: 0 auto;
  padding: 5px;
  background-color: rgba(250, 250, 255, 0.5);
  text-align: center;
  box-shadow: #3d434d;
}
.heroLogoContainer
{
  display: flex;
  max-width: 600px;
  max-height: 300px;
  justify-content: center;
  margin: 0% 30%;
}


/* About Me CSS */
.aboutMe {
  margin: 5%;
  padding: 10px;
  background-color: rgba(250, 250, 255);
  text-align: center;
}
.girlOnSwing {
  border-radius: 100%;
  padding: 10px;
  background-color: rgba(153, 3, 73, 0.1);
}
.myButton {
  background-color: #3d434d;
  text-align: center;
  color: #FAFAFF;
  padding: 11px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

/* My Skills CSS */
.mySkillsSection {
  margin: 5%;
  padding: 5px 10px 15px 20px;
  background-color: rgba(250, 250, 255, 0.90);
}
.flexContainer {
  display: flex;
  justify-content: space-around;
}
.skillCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.skillImage {
  object-fit: scale-down;
  justify-self: center; 
  align-self: start; 
}
.toolsList {
  text-align: center;
}


/* My Work CSS */
#myWorkSection {
  margin: 10%;
  background-color: #FAFAFF;
}
#myWork-Grid {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content;
  margin: 5%;
  padding: 10px;
  padding-bottom: 2%;
  row-gap: 15px;
  background-color: rgba(250, 250, 255, 0.90);
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-self: end;
  align-self: center;
}
.workImage {
  object-fit: scale-down;
  justify-self: center; 
  align-self: center;
  max-width: 80%;
  min-width: 50%;
}


/* Contact Me CSS */
#contactMeSection {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 5%;
  padding: 1px;
  gap: 0px 10px;
  background-color: rgba(61, 67, 77, 0.99);
}

.contactMe-container {  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-auto-columns: auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  justify-items: stretch;
  align-items: start;
  grid-template-areas:
    "contactCard"
    "contactInfo"
    "contactClosing";
}

.contactCard {  
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "headline headline"
    "websiteIntro websiteAddress"
    "socialIntro socialAddress";
  justify-self: stretch;
  align-self: center;
  padding: 0px 20%;
  padding-bottom: 2%;
  grid-area: contactCard;
  border-bottom: 4px solid #FAFAFF;
  background-color: rgba(250, 250, 255, 0.30);
}

.headline {
  justify-self: center;
  align-self: center;
  grid-area: headline;
}
h4#darkVar {
  color: #FAFAFF;
}

.websiteIntro {
  justify-self: center;
  align-self: center;
  padding: 10px;
  grid-area: websiteIntro;
}

.websiteAddress { 
  align-self: center;
  padding: 10px;
  grid-area: websiteAddress; 
}

.socialIntro {
  justify-self: center;
  align-self: center;
  padding: 10px;
  grid-area: socialIntro;
}

.socialAddress {
  align-self: center;
  padding: 10px;
  grid-area: socialAddress;
}

.contactInfo {  
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto auto auto;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "contactSubtitle contactSubtitle contactSubtitle"
    "icon1 phoneIntro numberInfo"
    "icon2 emailIntro emailInfo";
  justify-self: stretch;
  align-self: center;
  padding: 33px 20% 2%;
  grid-area: contactInfo;
  border-bottom: 4px solid #FAFAFF;
  background-color: rgba(250, 250, 255, 0.30);
}

.contactSubtitle {
  justify-self: center;
  align-self: center;
  grid-area: contactSubtitle;
}

.icon1 {
  justify-self: center;
  align-self: center;
  grid-area: icon1;
}

.phoneIntro {
  justify-self: center;
  align-self: center;
  grid-area: phoneIntro;
}

.numberInfo {
  align-self: center;
  grid-area: numberInfo;
}

.icon2 {
  justify-self: center;
  align-self: center;
  grid-area: icon2;
}

.emailIntro {
  justify-self: center;
  align-self: center;
  grid-area: emailIntro;
}

.emailInfo {
  align-self: center;
  grid-area: emailInfo;
}

.contactClosing {  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "icon3"
    "paragraphClosing";
  justify-self: center;
  align-self: center;
  padding: 0px 10%;
  grid-area: contactClosing;
  border-bottom: 4px solid #FAFAFF;
  background-color: rgba(250, 250, 255, 0.30);
}

.icon3 {
  justify-self: center;
  align-self: center;
  padding-top: 100px;
  grid-area: icon3;
}
.paragraphClosing {
  justify-self: center; 
  align-self: center; 
  grid-area: paragraphClosing; 
}

/* Footer CSS */
footer {
  background-color: #373738;
  width: 100%;
  bottom: 0px;
  padding-top: 2%;
  /* position: sticky; */
  /* position: fixed; */
  text-align: center;
}
.copyright-line {
  display: block;
}

/* Typography CSS */ 
p {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #3d434d;
}

h1 {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  text-align: center;
  color: #3d434d;
}
h2 {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  color: #990349;
}
h3 {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: #3d434d;
}
h4 {
  font-family: "utopia-std-subhead", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  color: #1c1c1c;
}
h5 {
  font-family: "utopia-std-subhead", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  color: #FAFAFF;
}
h6 {
  font-family: "utopia-std-subhead", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #FAFAFF;
}
h7 {
  font-family: "utopia-std-caption", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #1c1c1c;
}
h8 {
  font-family: "utopia-std-caption", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  color: #FAFAFF;
}
h9 {
  font-family: "utopia-std-caption", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: #FAFAFF;
}
h7#emphasisColor {
  color: #990349;
}
p#description {
  color: #3d434d;
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}



@media screen and (max-width: 600px) 
{
  .inline-block
  {
    float: none;
    width: 100%;
  }
  .heroLogoContainer
  {
    margin: 10%;
  }
  .introLogo
  {
    object-fit: scale-down;
    max-width: 300px;
    max-height: 100px;
  }
  .flexContainer
  {
    flex-direction: column;
  }
  .skillCard 
  {
    width: 100%;
  }
  .project-card
  {
    grid-template-rows: max-content max-content;
    grid-template-columns: 100%;
  }
  .workImage
  {
    max-width: 80%;
  }
  ul 
  {
    width: 100%;
  }
  .contactMe-container
  {
    display: flex;
    flex-direction: column;
  }
  .contactCard 
  {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5%;
    text-align: center;
  }
  .contactInfo 
  {
    display: flex;
    flex-direction: column;
  }
  .contactClosing
  {
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 100%;
  }
}