body {
  height: 100%;
  margin: 0% auto;
  font-family: Edita, Utopia Std, sans-serif;

}

/* Navigation CSS */
.inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 3px 10px 0px 10px;
}
.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}
nav {
  width: 73%;
  padding: 1%;
  text-align: center;
  background-color: #1c1c1c;
}
ul {
  width: 50%;
  margin-left: auto;
  display: inline-block;
 /* vertical-align: top; */
  margin-left: auto;
  color: #fafaff;
  font-family: edita, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.navigation {
  background-color: #1c1c1c;
  width: 100%;
  position: sticky;
  top: 0px;
}

/* Hero CSS */
.heroImg {
  height: 600px;
  padding: 15px;
  /* background-color: rgba(250, 250, 255, 0.5); */
}
.girlOnSwing {
  border-radius: 100%;
  padding: 100px;
}
.content {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 10px 100px 5px;
}

.myButton {
  background-color: #3d434d;
  text-align: center;
  color: #FAFAFF;
  padding: 11px 25px;
  margin-top: 10px;
  display: inline-block;
}

/* Footer CSS */

footer {
  background-color: #373738;
  width: 100%;
  bottom: 0px;
  position: sticky;
  position: fixed;
  text-align: center;
}
a:link {
  color: #FAFAFF;
  font-size: 28px;
}
a:visited {
  color: #FAFAFF;
  text-decoration: none;
}
a:hover {
  color: #990349;
  text-decoration: none;
}
a:active {
  color: #FAFAFF;
  text-decoration: none;
}

/* Typography CSS */ 
p {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #3d434d;
}

h1 {
  font-family: edita, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  color: #990349;
}
